[submodule "tooling/bluemap-addon-toolkit"]
	path = tooling/bluemap-addon-toolkit
	url = https://github.com/jan-guenter/bluemap-addon-toolkit.git
[submodule "modules/bluemap-addon-adapter-api"]
	path = modules/bluemap-addon-adapter-api
	url = https://github.com/jan-guenter/bluemap-addon-adapter-api.git
